.bold100 {
    font-weight: 100;
}

.bold200 {
    font-weight: 200;
}

.bold300 {
    font-weight: 300;
}

.bold400 {
    font-weight: 400;
}

.bold500 {
    font-weight: 500;
}

.bold600 {
    font-weight: 600;
}

.bold700 {
    font-weight: 700;
}

.bold800 {
    font-weight: 800;
}

.bold900 {
    font-weight: 900;
}

.bold {
    font-weight: bold;
}